<!DOCTYPE html>
<% 
	import config
	user = req.current_user()
	messages = get_messages() 
%>
<html>
<head>
	<title>${config.TITLE}</title>
	<meta charset='utf-8'>
	<script src="${static('js/main.js')}"></script>
	<script src="${static('bootstrap/js/bootstrap.min.js')}"></script>
	<link href="${static('bootstrap/css/bootstrap.min.css')}" rel="stylesheet" />
	<%block name="head" />
</head>
<body>
		% if user:
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li><a href="${url_for('index')}">Home</a></li>
							<li><a href="${url_for('signout')}">SignOut</a></li>
							<li><a href="${url_for('board')}">留言</a></li>
							<li class="active"><a>当前用户:${user.username}</a></li>
						</ul>
					</div>
				</div>
			</nav>
		% else:
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li><a href="${url_for('index')}">Home</a></li>
							<li><a href="${url_for('signin')}">SignIn</a></li>
							<li><a href="${url_for('signup')}">SignUp</a></li>
						</ul>
					</div>
				</div>
			</nav>
		% endif
	% if messages:
		% for msg in messages :
			% if msg.tag == 'success' :
				<div class="alert alert-success">
					${ msg.txt }
				</div>
			% elif msg.tag == 'error' :
				<div class="alert alert-warning">
					${ msg.txt }
				</div>
			% endif
		% endfor
		
	% endif

		
	${self.body()}
	<%block name="script" />
</body>
</html>