<%inherit file="base.html" />

<%block name="head">
</%block>
<style>
	div.row{
		margin-bottom:10px;
	}
</style>
<div class="container">
		% if words_query :
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th><th>用户</th><th>留言</th><th>时间</th>
					</tr>
				</thead>
				<tbody>
				% for word in words_query :
				<tr>
					<td> ${ word.id|h} </td>
					<td> ${ word.username|h} </td>
					<td> ${ word.words|h } </td>
					<%str_time= time.strftime('%Y-%m-%d %X',time.localtime(word.history_time))%>
					<td>${str_time}</td>
					<td><input class="btn btn-danger" id="${ word.id }" type="button" value="删除" onclick="delewords(this)" /></td>
				</tr>
				% endfor
				</tbody>
			</table>
		% endif
</div>
<div class="container">
		<form id="post_words" action="board" method="post">
			${xsrf_token}
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" name="words" placeholder="To Leave A Message...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Go!</button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

		% if find_words_query :
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th><th>用户:</th><th>留言</th><th>时间</th>
					</tr>
				</thead>
				<tbody>
				% for word in find_words_query :
				<tr>
					<td> ${ word.id } </td>
					<td> ${ word.username } </td>
					<td> ${ word.words } </td>
					<%str_time= time.strftime('%Y-%m-%d %X',time.localtime(word.history_time))%>
					<td>${str_time}</td>
					<td><input class="btn btn-danger" id="${ word.id }" type="button" value="删除" onclick="delewords(this)" /></td>
				</tr>
				% endfor
				</tbody>
			</table>
		% endif
		<!--form id="find_words_form" action="board" method="post"-->
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" name="find_words" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Go!</button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		</form>
</div>
<%block name="script">
<script>
	(function() {
		;
	})();
</script>
</%block>